:root {
  --white: #ffffff;
  --grey: #e9e9e9;
  --red: #e21e26;
  --green: #cae5a4;
  --black: #000000;

  /* Mobil typografi */
  --h1: 20px;
  --h2: 15px;
  --p: 12.5px;
  --btn: 10px;
}

  body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    color: var(--black);
    background: var(--white);
  }

  @media (min-width: 700px) {
    :root {
      --h1: 40px;
      --h2: 30px;
      --p: 25px;
      --btn: 20px;
    }
  }