---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const SUPABASE_KEY = "sb_publishable_TwTcczdp-s3B_-OdFvGRdw_t0GfJbwD";

  const response = await fetch("https://vhfeaaqjpnquzuwqkcqn.supabase.co/rest/v1/cafes?select=id,name,description,img", {
    headers: {
      apikey: SUPABASE_KEY,
      Authorization: `Bearer ${SUPABASE_KEY}`,
    },
  });

  const data: any[] = await response.json();

  return data.map((cafe) => ({
    params: { id: String(cafe.id) },
    props: { cafe },
  }));
}

const { cafe } = Astro.props as { cafe: any };
---

<Layout title={cafe?.name ?? "Café"}>
  <div class="cafe">
    <h1>{cafe?.name}</h1>

    {cafe?.img ? <img src={cafe.img} alt={cafe?.name ?? "Café"} /> : <p>(Intet billede fundet)</p>}
    <p>{cafe?.description}</p>
  </div>
  <div class="map">
    <gmp-map center="55.693176672735795,12.551243126788762" zoom="15" map-id="EK" style="height: 400px"><gmp-advanced-marker position="55.693176672735795,12.551243126788762" title="EK"></gmp-advanced-marker> </gmp-map>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuplJDoJXUlmH7u8biYz_Hp4Xu36_PlU0&libraries=maps,marker" defer></script>
  </div>
</Layout>

<style>
  .cafe {
    max-width: 400px;
    margin: 20px auto;
    margin-top: 50px;
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--grey);
    border-radius: 10px;
  }

  .cafe h1 {
    margin: 0 0 10px;
    text-align: center;
  }

  .cafe p {
    margin: 0 0 12px;
    line-height: 1.45;
    text-align: center;
  }

  .cafe img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 16px;
    margin-bottom: 20px;
    border-radius: 14px;
  }

  .map {
    max-width: 400px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: 700px) {
    .cafe {
      max-width: 1000px;
      margin-top: 100px;
    }

    .map {
      max-width: 1000px;
      margin-left: 230px;
      margin-top: 50px;
      margin-bottom: 100px;
    }

    .cafe p {
    }
  }
</style>
