---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <nav class="breadcrumb">
    <a href="/">Forside</a>
    <span>></span>
    <a href="/forbrugspause">Forbrugspause</a>
    <span>></span>
    <a href="/forms">Forms</a>
  </nav>
  <div class="container">
    <div class="tekst">
      <h1>
        Velkommen til Dankort <br />
        <span class="highlight">Forbrugspause</span>
      </h1>
      <p>
        Log ind eller opret en konto for at se dine <br />
        point og grønne fordele.
      </p>
    </div>

    <div class="felt">
      <div class="left">
        <h2>Login</h2>

        <input class="input" type="email" placeholder="Email" />
        <input class="input" type="password" placeholder="Kodeord" />

        <div class="options">
          <label><input type="checkbox" /> Husk mig</label>
          <a href="#" class="kodeord">Glemt kodeord?</a>
        </div>

        <button class="btn-green">Login</button>

        <p class="account">or use your account</p>

        <div class="socials">
          <span class="icon">
            <img src="/images/maillogo.svg" alt="Email" />
          </span>

          <span class="icon">
            <img src="/images/inlogo.svg" alt="Linkedin" />
          </span>

          <span class="icon">
            <img src="/images/phonelogo.svg" alt="Telefon" />
          </span>
        </div>
      </div>

      <div class="right">
        <h2>
          Start din rejse,<br />
          opret dig her
        </h2>
        <p>
          Er du ny hos Dankort? Opret din <br />
          konto her og oplev fordelene <br />med det samme
        </p>

        <button class="btn-white">Opret</button>
      </div>
    </div>
  </div>
</Layout>

<style>
  .breadcrumb {
    font-size: 15px;
    gap: 5px;
    margin-left: 50px;
    margin-top: 30px;
  }

  .breadcrumb a {
    color: var(--black);
    text-decoration: none;
  }

  .breadcrumb a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--grey);
    border-radius: 10px;
  }

  .tekst {
    text-align: center;
  }

  .tekst h1 {
    font-size: var(--h1);
    margin-bottom: 20px;
  }

  .tekst p {
    font-size: var(--p);
    margin-bottom: 30px;
  }

  .highlight {
    background-color: var(--green);
    padding: 1px 4px;
    border-radius: 4px;
  }

  .felt {
    background: var(--white);
    border-radius: 20px;
    overflow: hidden;
  }

  .left {
    padding: 40px 30px;
    text-align: center;
  }

  .left h2 {
    font-size: var(--h2);
    margin-bottom: 25px;
  }

  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: #eee;
    font-size: 10px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }

  .btn-green {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--black);
    cursor: pointer;
    width: 100%;
  }

  .btn-green:hover {
    background-color: #b8d391;
  }

  .account {
    margin-top: 50px;
    font-size: 10px;
    margin-bottom: 30px;
  }

  .socials {
    margin-top: 35px;
  }

  .socials span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--red);
    margin: 0 6px;
    font-weight: bold;
    cursor: pointer;
  }

  .socials span img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    display: block;
  }

  .right {
    background: var(--red);
    color: var(--white);
    padding: 50px 30px;
    text-align: center;
  }

  .right h2 {
    font-size: var(--h2);
    margin-bottom: 20px;
  }

  .right p {
    font-size: var(--p);
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .btn-white {
    background: var(--white);
    color: var(--black);
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
  }

  .btn-white:hover {
    background-color: var(--grey);
  }

  @media (min-width: 700px) {
    .container {
      max-width: 1000px;
      padding: 40px;
      margin-top: 100px;
      margin-bottom: 100px;
      border-radius: 20px;
    }

    .tekst h1 {
      font-size: var(--h1);
      margin-bottom: 20px;
    }

    .tekst p {
      font-size: var(--p);
      margin-bottom: 70px;
    }

    .felt {
      display: flex;
    }

    .left,
    .right {
      width: 50%;
      padding: 50px;
    }

    .left h2,
    .right h2 {
      font-size: var(--h2);
      margin-bottom: 10px;
    }

    .right p {
      font-size: var(--p);
    }

    .input {
      font-size: 16px;
      padding: 12px;
    }

    .btn-green,
    .btn-white {
      font-size: 16px;
      padding: 12px 100px;
      width: auto;
    }

    .btn-green {
      margin-top: 60px;
      color: var(--black);
    }

    .socials span {
      width: 40px;
      height: 40px;
    }
  }
</style>
