---
const { cafe } = Astro.props;
---

<a class="cafe-btn" href={`/cafes/${cafe.id}`}>
  {cafe.name}
</a>

<style>
  .cafe-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0.5px;
    border-radius: 14px;
    background: var(--grey);
    border: 0.5px solid var(--black);
    text-decoration: none;
    color: var(--black);
    font-size: var(--p);
    font-weight: bold;
  }

  .cafe-btn:hover {
    background-color: #d9d9d9;
  }
</style>
