<header class="header">
  <div class="header-container">
    <a href="/">
      <img src="/images/logo.webp" alt="Logo" class="header-logo" />
    </a>

    <details class="dropdown">
      <summary class="dropdown-btn">
        <img src="/public/images/menulogo.svg" alt="Menu" />
      </summary>

      <ul class="dropdown-menu">
        <li><a href="/">Erhverv</a></li>
        <li><a href="/">Privat</a></li>
        <li><a href="/">Dankort øremærket</a></li>
        <li><a href="/forbrugspause">Forbrugspause</a></li>
        <li><a href="/forms">Min profil</a></li>
      </ul>
    </details>

    <nav class="nav">
      <a href="/">Erhverv</a>
      <a href="/">Privat</a>
      <a href="/">Dankort Øremærket</a>
      <a href="/forbrugspause" class="green-highlight">Forbrugspause</a>
      <a href="/forms"> <img class="account" src="/public/images/account.svg" alt="" /></a>
    </nav>
  </div>
</header>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-btn img {
    width: 28px;
    height: auto;
    display: block;
  }

  .dropdown-btn {
    list-style: none;
    cursor: pointer;
    width: 50%;
  }

  .dropdown-menu {
    position: absolute;
    background: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    min-width: 200px;
    padding: 8px 0;
    list-style: none;
    right: 0;
  }

  .dropdown-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
  }

  .dropdown-menu a:hover {
    text-decoration: underline;
  }

  .header {
    background: var(--grey);
    padding: 20px 30px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    width: 50px;
  }
  .account {
    width: 20px;
  }

  .nav {
    display: none;
  }
  @media (min-width: 700px) {
    .header {
      padding: 15px 40px;
    }

    .header-logo {
      max-width: 50px;
    }

    .dropdown {
      display: none;
    }

    .nav {
      display: flex;
      gap: 25px;
    }

    .nav a {
      text-decoration: none;
      color: black;
      font-size: 15px;
    }

    .nav a:hover {
      text-decoration: underline;
    }

    .green-highlight {
      background: var(--green);
      padding: 2px 6px;
      border-radius: 4px;
    }
  }
</style>
