<section class="why">
  <div class="why-question">?</div>

  <div class="why-box">
    <h2 class="why-title">Hvorfor en forbrugspause?</h2>

    <p class="why-text">
      Mange af os køber mere, end vi egentlig har brug for - især tøj og elektronik. Det koster både på kontoen og på klimaet. Med Dankort Forbrugspause gør vi det nemmere at se, hvornår du faktisk ikke forbruger, og hvad det betyder over tid.
    </p>
  </div>
</section>

<style>
  .why {
    max-width: 470px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
  }

  .why-question {
    font-size: 96px;
    font-weight: 400;
    line-height: 1;
    color: var(--green);
    margin-bottom: 10px;
  }

  .why-box {
    background: var(--green);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
  }

  .why-title {
    margin: 0 0 10px;
    font-size: var(--h2);
    font-weight: 700;
  }

  .why-text {
    margin: 0;
    font-size: var(--p);
    line-height: 1.45;
  }

  @media (min-width: 700px) {
    .why {
      max-width: 967px;
      padding: 0;
      margin: 24px auto 40px;

      display: grid;
      grid-template-columns: 140px 1fr;
      column-gap: 28px;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .why-question {
      margin: 0;
      font-size: 140px;
      line-height: 1;
      text-align: center;
    }

    .why-box {
      width: 100%;
      padding: 32px;
      border-radius: 20px;
    }
  }
</style>
